<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedConnect</title>
    <link href = "{{ url_for('static', filename='css/footer.css') }}" rel = "stylesheet">
</head>
<body>
    {% include "components/navbar.html" %}
    <p>Edit Profile</p>
    <form method="POST" enctype = "multipart/form-data">
        <input type="text-box" name="bio" placeholder="Bio" required>
        <input type="text" name="location" placeholder="Location" required>
        <input type="text" name="user_type" placeholder="Patient" required>
        <div id = "interestInputs">
            <input type = "text"name = "interests[]">
        </div>
        <button type="button" onclick="addTextInput(true)">Add More</button>
        <div id = "conditionInputs">
            <input type = "text"name = "conditions[]">
        </div>
        <button type="button" onclick="addTextInput(false)">Add More</button>
        <input type = "file" name = "avatar_file" accept = "image/*">
        <button type="submit">Save Profile</button>
    </form>

    {% include "components/footer.html" %}
    <script>
        function addTextInput(interests) {
            var container;
            if(interests){
                container = document.getElementById('interestInputs')
            }
            else
            {
                container = document.getElementById('conditionInputs')
            }
            const input = document.createElement('input');
            input.type = 'text';
            if(interests){
                input.name = 'interests[]';
            }
            else
            {
                input.name = 'conditions[]';
            }
            container.appendChild(document.createElement('br'));
            container.appendChild(input);
        }
    </script>
</body>
</html>