<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "{{ url_for('static', filename='css/footer.css') }}" rel = "stylesheet">
</head>
<body>
    {% include "components/navbar.html" %}
    <div class = "contents">
        <h3>Friends</h3>
        <table id = "friends_table">
            {% for friend in friends %}
                <tr>
                    <td class = "avatar_cell"><img src="{{ friend.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar"></td>
                    <td colspan = "2">{{ friend.username }}</td>
                </tr>
            {% endfor %}
        </table>
        <h3>Pending Requests</h3>
        <table id = "friends_table">
            {% for received in requests_received %}
                <tr>
                    <td class = "avatar_cell"><img src="{{ received.user.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar"></td>
                    <td>{{ received.user.username }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('handle_friend_request', action='accept', input_request_id=received.req_id) }}">
                            <button type="submit">Accept</button>
                        </form>

                        <form method="POST" action="{{ url_for('handle_friend_request', action='reject', input_request_id=received.req_id) }}">
                            <button type="submit">Reject</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h3>Requests Sent</h3>
        <table id = "friends_table">
            {% for sent in requests_sent %}
                <tr>
                    <td class = "avatar_cell"><img src="{{ sent.user.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar"></td>
                    <td>{{ sent.user.username }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% include "components/footer.html" %}
</html>