<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MedConnect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "{{ url_for('static', filename='css/footer.css') }}" rel = "stylesheet">
</head>
<body>
    {% include "components/navbar.html" %}
    <div class = "contents">
        <div class = "row">
            <div class = "column">
                <h3>Friends</h3>
                <table id = "groups_table">
                    {% for friend in friends %}
                        <tr>
                            <td>
                                <div class = "user_info">
                                    <img src="{{ friend.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar">
                                    <span>{{ friend.username }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Pending Requests</h3>
                <table id = "groups_table">
                    {% for received in requests_received %}
                        <tr>
                            <td>
                                <div class = "user_info">
                                    <img src="{{ received.user.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar">
                                    <span>{{ received.user.username }}</span>
                                </div>
                            </td>
                            <td class = "avatar_cell">
                                <form method="POST" action="{{ url_for('handle_friend_request', action='accept', input_request_id=received.req_id) }}">
                                    <button class = "friendReq_Button" type="submit">Accept</button>
                                </form>
                            </td>
                            <td class = "avatar_cell">
                                <form method="POST" action="{{ url_for('handle_friend_request', action='reject', input_request_id=received.req_id) }}">
                                    <button class = "friendReq_Button" type="submit">Reject</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Requests Sent</h3>
                <table id = "groups_table">
                    {% for sent in requests_sent %}
                        <tr>
                            <td>
                                <div class = "user_info">
                                    <img src="{{ sent.user.avatar_url or url_for('static', filename='img/default_avatar.png') }}" alt="Avatar" class="rounded-circle" width="32" height="32" id = "avatar">
                                    <span>{{ sent.user.username }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class = "column">
                <form method="GET" action="{{ url_for('search_users') }}" onsubmit="return false;">
                    <input type="text" name="query" id = "user-search" placeholder="Search users..." autocomplete = "off">
                    <button type="submit" class = "button-link" style = "padding: 0.5% 1%;">Search</button>
                    <div id = "search_results" class = "dropdown"></div>
                </form>
            </div>
        </div>
    </div>

    {% include "components/footer.html" %}
    <script src = "../static/src/app.js"></script>
</html>