<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beyond Diagnosis</title>
    <link rel="icon" href="{{ url_for('static', filename = 'img/ButterflyLogo1.png') }}" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "{{ url_for('static', filename='css/footer.css') }}" rel = "stylesheet">
    <link href = "{{ url_for('static', filename='css/colorScheme.css') }}" rel = "stylesheet"> 
</head>
<body>
    {% include "components/navbar.html" %}
    <div class = "contents" id = "splashText">
        <div class = "splashItems">
            <img src = "{{ url_for('static', filename = 'img/Beyond_Diagnosis (2).png') }}" height = "250" width="500">
            <p id = "splashParagraph">Welcome to Beyond Diagnosis! A place for people to share their medical journey and find comfort in the experiences of others.
                Here you will find a grand community of both patients and families happy to share their story as you continue on with your own. First create an account
                and set up your profile. Then explore the existing groups and users to take part in our community. From there you are welcome to post your experiences
                or individually message friends. 
            </p>
            <a class = "button-link" style = "margin-right: 1%;" href = "{{url_for('register')}}">Register</a>
            <a class = "button-link" href = "{{ url_for('login') }}">Login</a>
        </div>
    </div>
    {% include "components/footer.html" %}
</body>
</html>